<html>
    <body style="text-align: center">
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
        <img src="/images/peanut.gif">
    </body>
</html>

