<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
        Bonjour et bienvenue sur le site de gestion de plugin de <%= title %>.
        <%= title %> est un logiciel de communication XMPP.
    </p>
  </body>
</html>
