<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
        Bienvenue dans l'API RESTful de <%= title %>.
        Cette API en gère ses plugins.
    </p>
  </body>
</html>
